.dashboard {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 15px;
  background-color: #f4f5f7;

  .grid-item {
    background: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    min-height: 150px;
    position: relative;
  }

  .sales-summary {
    grid-column: 1 / 13;

    height: 200px;
  }

  .filter-container {
    grid-column: 4 / 9;
    grid-row: 2 / 3;
  }

  .total-revenue {
    grid-column: 1 / 7;
    grid-row: 3 / 7;
  }

  .customer-satisfaction {
    grid-column: 7 / 13;
    grid-row: 3 / 7;
  }
}

.sales-summary {
  .total-group {
    display: flex;
    height: 100%;
    gap: 0 30px;
    justify-content: center;

    .total-item {
      width: 350px;
      height: 150px;
      background: #fff;
      border-radius: 16px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      padding: 10px 20px 0;
      transition: transform 0.2s ease;

      &:hover {
        background-color: #1f2154;

        .header p,
        .amount strong,
        .change p,
        .change span {
          color: white;
        }
      }

      .header {
        p {
          font-size: 18px;
          color: #333;
          font-weight: 500;
          margin: 0;
        }
      }

      .amount {
        margin-top: 10px;

        strong {
          font-size: 28px;
          font-weight: bold;
          color: #000;
        }
      }

      .change {
        display: flex;
        margin-top: 10px;
        font-size: 14px;
        color: #666;

        p {
          margin-bottom: 0;
          font-weight: 600;
          margin-right: 5px;
          font-size: 16px;
        }

        span {
          margin-top: 2px;
          font-weight: 600;
        }

        &.positive p {
          color: #28a745; /* Màu xanh lá */
        }

        &.negative p {
          color: #dc3545; /* Màu đỏ */
        }
      }
    }
  }
}

.filter-container {
  display: flex;
  justify-content: center;
  align-items: center;

  .group-filter {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 20px;

    .filter {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      label {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 5px;
        color: #333;
      }

      select {
        width: 150px;
        padding: 5px 10px;
        font-size: 14px;
        border: 1px solid #ddd;
        border-radius: 5px;
        background-color: #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        outline: none;
        transition: all 0.3s ease;

        &:hover {
          border-color: #888;
        }

        &:focus {
          border-color: #0056b3;
          box-shadow: 0 0 5px rgba(0, 86, 179, 0.5);
        }
      }
    }
  }
}

// // Thêm responsive behavior
// @media (max-width: 768px) {
//   .dashboard {
//     grid-template-columns: 1fr;
//     .grid-item {
//       grid-column: 1 / -1; // Chiếm full-width trên màn hình nhỏ
//       min-height: 200px; // Chiều cao tối thiểu trên màn hình nhỏ
//     }
//   }
// }
