.account-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 5px;
  cursor: pointer;
  position: relative;

  .avatar-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #fff;
  }

  .username {
    color: white;
    margin-bottom: 0;
  }

  .info-wrapper {
    position: absolute;
    top: 40px;
    left: -25px;
    width: 200px;
    height: 0;
    padding: 0 8px;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    transition: all 0.3s;

    &.active {
      height: 123px;
    }
  }
}

.avatar-box {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: inherit;
  }
}

.info-wrapper {
  .info-personal {
    display: flex;
    flex-direction: column;

    a {
      padding: 8px 0;
      text-decoration: none;
      color: black;
      border-bottom: 1px solid #ccc;
    }
  }

  .btn-logout {
    text-align: left;
    width: 100%;
    padding: 10px 0;
    background-color: white;
  }
}
