.wapper-table {
  width: 98%;
  height: 500px;
  margin-top: 30px;

  thead {
    position: sticky;
    top: 0;

    th {
      background-color: #04aa6d;
      color: white;
    }
  }

  .group-btn {
    display: flex;
    gap: 0 10px;
  }

  .pagination {
    justify-content: center;
  }
}
