.table {
  margin-top: 30px;

  thead {
    position: sticky;
    top: 0;

    th {
      // background-color: #04aa6d;
      background-color: #8d5f3d;
      color: white;
    }
  }

  .group-btn {
    display: flex;
    gap: 0 10px;
  }
}

.pagination {
  justify-content: center;
}
