.booking-container {
  height: 100vh;
}

.time-slot-button:hover {
  background: rgba(0, 123, 255, 0.1);
}

.btn-book {
  width: 100%;
  background: #007bff;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 6px;
  font-weight: 500;
  margin-top: 20px;
  cursor: pointer;
  transition: background 0.2s;
}

.btn-book:hover {
  background: #0056b3;
}

/* BookingCalendar.css */

.fc-timegrid-event {
  border-radius: 0 !important ;
}

.fc-event-title {
  white-space: normal !important;
}
