.profile-wrapper {
  max-width: 1320px;
  margin: 0 auto;
  padding: 50px 0;

  .profile-title {
    color: #9b9ca1;
    margin: 0;
  }

  .line {
    display: inline-block;
    width: 100%;
    height: 1px;
    background-color: #ced4da;
  }

  .edit-profile {
    display: flex;
    gap: 0 30px;
    margin-top: 45px;
  }
}

.edit-profile {
  .edit-profile-left {
    flex-basis: 60%;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.07);
    border-radius: 5px;
    padding: 40px 25px 30px;
    height: max-content;
  }

  .edit-profile-right {
    flex-basis: 30%;
    border: 1px solid rgba(0, 0, 0, 0.07);
    border-radius: 5px;
    background-color: #fff;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.edit-profile-left {
  h4 {
    color: #9b9ca1;
    margin-bottom: 40px;
    font-size: 20px;
  }

  .form-edit {
    gap: 10px 0;
  }

  .btn-update {
    display: block;
    margin: 20px auto 0;
  }
}

.edit-profile-right {
  .avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 200px;
    background-color: #fff;
    border: 1px solid #e5dfe4;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .label-upload {
    display: flex;
    align-items: center;
    gap: 0 5px;
    padding: 5px 10px;
    margin-top: 20px;
    background-color: #eeeeee;
    border-radius: 5px;
    cursor: pointer;
  }

  p {
    margin-top: 20px;
  }
}
