.sidebar-wrapper {
  width: 17%;
  height: 100vh;
  background-color: #1a1919;
  padding: 24px;

  .heading {
    padding: 24px 0;
    color: #fff;
    color: orange;
    margin-left: 17px;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.15;
  }

  .sidebar-content {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.sidebar-content {
  .group {
    .item {
      display: flex;
      align-items: center;
      gap: 0 20px;
      padding: 20px 16px;
      color: white;
      border-radius: 4px;
      text-decoration: none;

      &:hover {
        background-color: #5932ea;
      }
    }
  }

  .btn-logout {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 5px;
    padding: 12px 46px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.33;

    &:hover {
      background-color: #3b3939;
    }
  }
}
