.header {
  position: sticky;
  top: 0;

  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    background-color: var(--primary-color);

    .header-nav {
      display: flex;
      align-items: center;
      list-style: none;
    }

    .group-btn {
      display: flex;
      gap: 0 10px;
    }
  }
}

.header-nav {
  li {
    padding: 10px 15px;
    color: white;
    font-weight: 700;
    font-size: 13px;
    cursor: pointer;
  }
}
